<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>
            Dashboard
        </h1>
        <h2>
            Welcome {{ request.user.username }}
        </h2>
        <hr>
        <h3>
            Total Tasks: {{total_tasks}}
        </h3>
        <h3>Pending Tasks: {{pending_tasks}}
        </h3>
        <h3> Completed Tasks: {{completed_tasks}}</h3>
        <h3>Toatl Notes: {{total_notes}}</h3>
        <p>
            You are successfully logged in.
        </p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'add_task' %}">
            Add Task
        </a>
        <a href="/tasks">My Tasks</a>
        <br><br>
        <a href="/tasks/add/">Add Task</a>
        {% endblock %}
    </body>
</html>