{% extends 'base.html' %}
{% block content %}
<h1>My Tasks</h1>
<a href="/tasks/add/">Add New Task</a>
<hr>
<form method="GET">

<input type="text" name="search" placeholder="Search Task" value="{{request.GET.search}}">
<br><br>

<select name="status">
    <option value="">All Status</option>
    <option value="Pending">Pending</option>
    <option value="Completed">Completed</option>
</select>
<br><br>
<select name="priority">
    <option value="">All Priority</option>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
</select>
<br><br>
<select name="category">
    <option value="">All Categories</option>
    {% for category in categories %}
    <option value="{{ category.id }}">
        {{ category.name }}
    </option>

    {% endfor %}
</select>
<br><br>
<button type="submit">Search</button>
</form>
<hr>
{% for task in tasks %}

<h3>{{ task.title }}</h3>
<p> {{ task.description }}</p>
<p>Priority: {{ task.priority }}</p>
<p>Status: {{ task.status }}</p>
<p>
    Tags :{% for tag in task.tags.all %}
    {{ tag.name }}
    {% endfor %}

</p>
<a href="{%url 'edit_task' task.id%}">Edit</a>
<a href="{%url 'delete_task' task.id%}">Delete</a>
<hr>

{% empty %}

<p>No tasks found.</p>

{% endfor %}
{% endblock %}